<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <title>Group 8 food predictor</title>
</head>
<body>
    
    {% block navbar %}
    
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">
        <div class="container">
    
            <a class="navbar-brand" href="{{ url_for('index') }}" style="font-family: Tahoma, sans-serif;color: red;font-size: 50px;float: left;">
                Food imports predictor
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            </button>
    
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}" style="font-size: 35px;">
                About
                </a>
            </li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('predict_page') }}" style="font-size: 35px;">Predict</a></li>
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>
</html>